<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top col-md-12">
    <div class="col-md-4">
      <a class="navbar-brand" routerLink="/home">{{'nav.title' | translate}}</a>
    </div>
    <div class="col-md-8">
      <div class="container">
        <div class="navbar-nav col-md-10">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">{{'nav.home' | translate}}</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/users" *ngIf="isAuthenticated">{{'nav.list' | translate}}</a>
          <a class="nav-item nav-link" routerLinkActive="active" *ngIf="isAuthenticated" (click)="onLogout()">{{'nav.logout' | translate}}</a>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/auth" *ngIf="!isAuthenticated">{{'nav.auth' | translate}}</a>
        </div>
        <div class="container btn-group col-md-2">
          <div class="dropdown">
            <button class="btn btn-sm btn-primary" [class.btn-success]="this.currentLang == 'en'" (click)="useLanguage('en')">en</button>
            <button class="btn btn-sm btn-primary" [class.btn-success]="this.currentLang == 'si'" (click)="useLanguage('si')">si</button>
          </div>
        </div>
      </div>
    </div>
  </nav>