<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Test app</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="isAuthenticated" (click)="onLogout()">Log out</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/auth" *ngIf="!isAuthenticated">Authenticate</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/users" *ngIf="isAuthenticated">Users list</a>
      </div>
    </div>
  </nav>