<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand">{{'nav.title' | translate}}</a>
    <div class="container">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="isAuthenticated" (click)="onLogout()">{{'nav.logout' | translate}}</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/auth" *ngIf="!isAuthenticated">{{'nav.auth' | translate}}</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/users" *ngIf="isAuthenticated">{{'nav.list' | translate}}</a>
      </div>
      <div class="container btn-group col-md-2">
        <button class="btn btn-sm btn-primary" (click)="useLanguage('en')">en</button>
        <button class="btn btn-sm btn-primary" (click)="useLanguage('si')">si</button>
      </div>
    </div>
  </nav>