<div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
    <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
    </div>
      <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
        <div class="form-group">
          <label for="email">{{'auth.email' | translate}}</label>
          <input type="email" id="email" class="form-control" ngModel name="email" required email
          />
        </div>
        <div class="form-group">
          <label for="password">{{'auth.passwd' | translate}}</label>
          <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6"
          />
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? ('nav.login' | translate) : ('nav.register' | translate) }}
          </button>
          |
          <button class="btn btn-primary" (click)="switchMode()" type="button">
            {{'auth.switch' | translate}} {{ isLoginMode ? ('nav.register' | translate) : ('nav.login' | translate) }}
          </button>
        </div>
      </form>
    </div>
  </div>
  